<!DOCTYPE html>

<html lang="en">

<head>
    <title>[pageContent.title]</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="description" content="[pageContent.description]"/>

    <link href="/styles/main.css" rel="stylesheet" type="text/css"/>

    <noscript>Sorry, this page may not work properly unless javascript is enabled.</noscript>
</head>

<body>

<div id="page-container">

    <div id="page-content">
        <div id="dynamic-content">
            <h1 id="page-title">[pageContent.header]</h1>
            <div id="page-text">[pageContent.content]</div>
        </div>
    </div>

    <div id="page-right-hand">

    </div>

</div>


</body>
</html>