<!DOCTYPE html>

<html>

<head>
    <title>[pageContent.title] | Caleb Stride</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">  
    <meta name="author" content="Caleb Stride">

    <link href="/styles/main.css" rel="stylesheet" type="text/css" />
    <link href="/styles/pages.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/siteMap.js"></script>
    <script type="text/javascript" src="/scripts/ContentTools.js"></script>
    <script type="text/javascript" src="/scripts/PageSummary.js"></script>
    <script type="text/javascript">
    
        window.onload = function() {
            ContentTools.createMainNavBar();
            PageSummary.createNavMenuForPage();
        };

    </script>

    <noscript>Sorry, this page may not work properly unless javascript is enabled. </noscript>
    
</head>

<body>

    <div id="pageContainer">

        <div id="pageContent">
            <div id="dynamicContent">
                <h1 id="pageTitle">[pageContent.header]</h1>
                <div id="pageText">[pageContent.content]</div>
            </div>
        </div>

        <div id="pageRightHand">

        </div>

    </div>

    

    



</body>
</html>