#dynamicContent h1 {
    text-align: center;
    background-color: #808080;
    margin: 0;
    padding-top: 3%;
    padding-bottom: 3%;
}

#siteGreeting {
    text-align: center;
    padding-top: 40vh;
    font-size: 2em;
    font-weight: bold;
}

#dynamicContent :not(h1):not(a) {
    padding-left: 3%;
    padding-right: 3%;
}

.docMenuLink {
    display: block;
    padding-bottom: 5px;
    text-decoration: none;
    color: inherit;
}

.docMenuLink:hover {
    color: #808080;
}

#docMenuArea {
    padding-left: 10%;
    padding-top: 4%;
    padding-bottom: 4%;
}

.headerRowH3 {
    padding-left: 30px;
}

.headerRowH4 {
    padding-left: 60px;
}

.headerRowH5 {
    padding-left: 90px;
}

@media screen and (max-width: 600px) {

}

@media screen and (min-width: 600px) {


}