html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: relative;
    height: auto;
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #d2d2d2;
}

#sideBar {
    background-color: #808080;
    margin: 0px;
    z-index: 1000;
}

#sideBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#sideBar #mainNavBar > li > div {
    display: block;
    padding: 10px 0px 10px 10px;
}

#sideBar #mainNavBar > li > div:hover, .dropDownContent div:hover{
    cursor: pointer;
    background-color: #333333;
    color: #d2d2d2;
}

.dropDownContent div {
    padding: 4px 0px 4px 20px;
}

.selected {
    background-color: #333333;
    color: #d2d2d2;
}

.hiddenFeature {
    display: none;
}

@media screen and (max-width: 600px) {
    #closeContainer {
        right: 0;
        position: absolute;
        padding-right: 10px;
        font-size: 50px;
        color: #333333;
        display: inline-block;
        line-height: 25px;
    }
    
    #b_menu {
        padding-right: 10px;
        padding-left: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
        display: block;
        float: right;
        z-index: 101;
    }
      
    .b_men {
        width: 35px;
        height: 5px;
        background-color: #333333;
        margin: 6px 0;
    }

    #burgerHug {
        background-color: #808080;
        overflow: auto;
    }

    #sideBar {
        width: 60%;
        position: fixed;
        right: 0;
        top: 0;
        padding-top: 20px;
        border-left: 2px solid black;
        border-bottom: 2px solid black;
    }

    #sideBarPush, .hiddenFeatureMob {
        display: none;
    }

    #pageContent {
        display: block;
    }
}

@media screen and (min-width: 600px) {

    #sideBar {
        height: 100%;
        display: block;
        position: fixed;
    }

    #sideBar, #sideBarPush {
        width: 180px;
    }
    
    #sideBarPush {
        height: 180px;
        float: left;
    }

    #pageContent {
        height: fit-content;
        overflow: hidden;
    }

    .hiddenFeatureBig {
        display: none;
    }

}